@(projects: List[Project])

<div class="container">
@main("Projects Catalogue"){
	<h2>All Projects</h2>
	<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			
			<tbody>
				@for(project <- projects){
					<tr>
						<td><a href="@routes.Application.projectInfo(project.name)">@project.name</a></td>
						<td><button type="button" class="btn-info" onclick="window.location='@routes.Application.editProject(project.name)';" value="edit"> Edit</button></td>
						<td><button type="button" class="btn-danger" onclick="del('@routes.Application.delete(project.name)');" value="delete">Delete</button></td>
					</tr>
				}
			</tbody>
	</table>
}

	<div class="btn-group">
		<button class="btn btn-primary" onclick="window.location='@routes.Application.newProject()';" value="add">Add New Project</button>
	</div>

</div>